@{
  Layout = "_Layout";
}

  @if (User.Identity.IsAuthenticated)
  {
    <p>You are currently signed in with the account assigned to: @User.Identity.Name</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <div id="table">
        <input type="submit" value="Log out" class="htmlButton" />
        </div>
    }
  }
  else
  {
    <p>
        @Html.ActionLink("Register", "Register", null, null, new { @class="htmlButton"})
        @Html.ActionLink("Log in", "Login", null, null, new { @class="htmlButton"})
    </p>
  }
</div>