@model SweetsTreats.Models.Treat
@{
  Layout = "_Layout";
}

<h1>ADD TREAT:</h1>
@using (Html.BeginForm())
{
  <div class = "inputspacing">
  @Html.LabelFor(model => model.Name, "Name:" , new { @class="customLabel"})
  @Html.TextBoxFor(model => model.Name, new { required = "required" })
  
  <input type="image" img src="https://raw.githubusercontent.com/GarrettHays/images/main/noun-add-258794.png" class = "addicon" style="width:20px;"/>
  </div>
}